<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no">
		<title>核销成功</title>
		<style>
			.paymentSuccess-box{position: fixed;top: 0;left: 0;bottom: 0;right: 0;background-color: #E9EDF3;z-index: 999;}
			.paymentSuccess-title{font-size: 18px;background-color: #fff;text-align: center;padding-top: 40px}
			.paymentSuccess-title img{display: block;width: 90px;margin: 0 auto;margin-bottom: 20px}
			.paymentSuccess-title span{padding-bottom: 30px;display: block;width: 90px;margin: 0 auto;text-align: center;}
			.paymentSuccess-title span font{margin: 0 auto;}
		</style>
	</head>

	<body>
		<div class="paymentSuccess-box">
			<div class="paymentSuccess-title">
				<img src="./static/images/successfully_icon.png" alt="" />
				<span>核销成功</span>
			</div>
		</div>
	</body>

</html>